[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox ESR
Comment=Browse the Web
Exec=firefox %u
Icon=/opt/firefox/browser/chrome/icons/default/default128.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true